@import url('https://fonts.googleapis.com/css2?family=Alata&family=Pacifico&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Alata', sans-serif;
    background-color: #124559;
    color: white;
}

.buttons{
    background-color: #EFF6E0;
    color: black;
    border: white solid;
    border-radius: 5px;
    padding: 5px;
}

header{
    background-color: #124559;
    /* border-bottom: #2E3638 solid 5px; */
    position: sticky;
    /* box-shadow: 5px 5px 5px white; */
    top: 0; 
}

nav a:hover {
    text-decoration: underline;
    color: #EFF6E0;
}

nav ul {
    list-style-type: none;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    padding-right: 20px;

}

nav li {
    margin-top: 15px;
    margin-bottom: 15px;
}
nav ul a{
    text-decoration: none;
    color: white;
    
}

h1{
    color: #fb8500;
}
#quote {
    color: #ffb703;
    text-align: center;
    margin: 50px 0 50px 0;
    
}
.about-me{
    
    margin-left: 50px;
}

.section-headers{
    margin-bottom: 20px ;
}
.cards {
    margin-bottom: 30px;
    width: 83%;
}

a{
    color: #ffb703;
}

a:hover{
    text-decoration: none;
}

#career-box{
    display: inline-block;
    
}

.images{
    border: 3px solid white;
    border-radius: 25px;
    width: 150px;
    float: left;
    margin-top: 15px;
   
}


.card-text{
    margin-left: 200px ;
}





#aside{
    float: right;
    
    
}

#aside h3 {
    text-decoration: underline;
}

footer{
    border-top: 3px solid white;
    margin-top: 300px;
    
}
.contact-info { 
    display: flex;
    justify-content: space-around;
    color: white;
     margin-left: 25px;
     
}


#contact-header{
    margin-top: 10px;
    margin-left: 20px;
}
#email {
    color: #EFF6E0;
}

#email:hover {
    text-decoration: none;
}

#back-to-top {
    color: #EFF6E0;
    text-decoration: none;
    
}

#back-to-top:hover {
    text-decoration: underline;

}

.sm{
    display: flex;
}
.socialmedia {
    width: 50px;
    height: 50px;
    padding-left: 10px;
  
}